button {
  background-color: #222;
  color: white;
  font-family: monospace;
  padding: 4px 14px;
  margin: 10px;
  border-radius: 4px;
}
.bingo {
  text-align: center;
}
.ball {
  height: 60px;
  width: 60px;
  border-radius:50%;
  display: block;
  background-color: orange;
  color: white;
  margin: 10px 10px 0 10px;
  line-height:60px;
}
.bingoNumbers {
  width: 70px;
  margin: auto;
}