table {
  margin:auto;
  margin-top: 2rem;
  border-collapse:collapse; 
}
td {
  padding: 10px;
  text-align: center;
}
td:first-child {
  border-right: 2px solid white;
}
tr:nth-child(2n) {
  background-color:orange;
}
tr {
}
tr:hover {
  background-color:lightpink;
  transition: background-color .2s ease-in-out;
}
