body {
  font-family: Arial, Helvetica, sans-serif;
}
.card-game {
  display: grid;  
  justify-items: stretch;
  align-items: stretch;
  margin: 10px;
  /* -20px is for the margins*/
  height: calc(100vh -20px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap:10px 10px;
}
/* Thank you w3 schools... */
.flip-card {
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: olive;
  color: black;
}

.flip-card-back {
  transform: rotateX(180deg);
}
