body {
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
}
h1 {
  color: #333;
  text-align:center;
}

h2 {
  color: rgb(38, 117, 38);
  text-align:center;
}
.clock {
  text-align: center;
  display: block;
  margin-top: 16rem;
}