body {
  font-family: monospace;
}

.todos {
  width: 500px;
  display: block;
  margin-top: 2rem;
  margin-left: 2rem;
}

ul {
  padding: 0;
  list-style:none;
}

li {
  margin-top: 3px;
}

button {
  font-family: monospace;
  margin: 0px 10px 0 10px;
}

input[type=text] {
  margin-left: 0;
}
