body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

nav {
  background-color:pink;
}
nav a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color .2s ease-in-out;
}
nav a:hover {
  color: magenta;
}
